.name {
  font-size: x-large;
}

.grass {
  background-color: #71d41a;
}

.bug {
  background-color: #9b1fe8;
}

.fire {
  background-color: #f3d700;
}

.water {
  background-color: #299ea7;
}

.normal {
  background-color: grey;
}

.default {
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
